.Grid {
  margin: 0 auto;
  box-shadow: 3px 6px 6px #333;
  background: white;
  width: 500px;
  height: 250px;
  grid-auto-flow: dense;
}

.Unstarted{
  font-family: sans-serif;
  text-align: center;
  color: #333;
  font-size: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}